{:deps {org.scicloj/noj {:mvn/version "2-beta13"}
        metosin/jsonista {:mvn/version "0.3.13"}
        org.clj-commons/hickory {:mvn/version "0.7.5"}
        clojure.java-time/clojure.java-time {:mvn/version "1.4.3"}}
 :paths ["notebooks"]}
